@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: OpenSansL;
  src: url('../fonts/OpenSans-Light.ttf');
}
@font-face {
  font-family: OpenSansBB;
  src: url('../fonts/OpenSans-ExtraBold.ttf');
}
@font-face {
  font-family: OpenSansB;
  src: url('../fonts/OpenSans-Bold.ttf');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-appearance: none;
}
* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
html,
body {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: OpenSans;
  color: #000000;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.holder {
  width: 100%;
  max-width: 1124px;
  margin: 0 auto;
}
.sect_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.sect_title h2 {
  font-family: OpenSansB;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 26px;
  color: #34495e;
  text-align: center;
  margin: 0 30px;
}
.sect_title div {
  position: relative;
  width: 40px;
  height: 3px;
  background: #1c8802;
  border-radius: 5px;
}
.sect_title div:first-child:after {
  position: absolute;
  top: -3px;
  right: -20px;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #1c8802;
  border-radius: 50%;
}
.sect_title div:last-child:after {
  position: absolute;
  top: -3px;
  left: -20px;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #1c8802;
  border-radius: 50%;
}
header {
  width: 100%;
}
header .info {
  width: 100%;
  padding: 15px;
}
header .info > .holder {
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .info > .holder .burger {
  width: 40px;
  height: 40px;
  display: none;
}
header .info > .holder .burger svg {
  width: 40px;
  height: 40px;
}
header .info > .holder a.logo {
  display: block;
  width: 100px;
}
header .info > .holder a.logo img {
  width: 100%;
}
header .info > .holder .tels {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .info > .holder .tels svg {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
header .info > .holder .tels .box a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-family: OpenSansB;
  margin-bottom: 10px;
  font-size: 14px;
}
header .info > .holder .tels .box a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
header .info > .holder .tels .box a:last-child {
  margin-bottom: 0;
}
header .info > .holder .adr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .info > .holder .adr svg {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
header .info > .holder .adr span {
  color: #000000;
  font-family: OpenSansB;
  font-size: 14px;
  line-height: 23px;
}
header .info > .holder a.btn {
  border: 4px solid #ecef09;
  padding: 7px 70px;
  border-radius: 50px;
  text-align: center;
  color: #000000;
  font-family: OpenSansB;
  font-size: 16px;
  line-height: 23px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
header .info > .holder a.btn:hover {
  background: #ecef09;
  color: #fff;
}
header .navbox {
  width: 100%;
  padding: 15px;
  padding-bottom: 0;
  background: #1c8802;
}
header .navbox nav {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .navbox nav a {
  color: #ffffff;
  font-family: OpenSansB;
  font-size: 14px;
  line-height: 23px;
  padding-bottom: 13px;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
header .navbox nav a:hover {
  border-bottom: 3px solid #f1c40f;
}
section.mainbanner {
  width: 100%;
  padding: 0 15px;
  background-image: url(../img/bg1.png);
  background-position: 0 -150px;
  background-size: 100% 870px;
  background-repeat: no-repeat;
  min-height: 600px;
  padding-top: 50px;
  padding-bottom: 175px;
}
section.mainbanner .holder .title h1 {
  display: block;
  font-family: OpenSansBB;
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  line-height: 45px;
}
section.mainbanner .holder .title p {
  display: block;
  font-family: OpenSansBB;
  font-size: 24px;
  color: #f1c40f;
  margin-bottom: 20px;
  text-align: center;
}
section.mainbanner .holder > .box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  position: relative;
}
section.mainbanner .holder > .box img {
  position: absolute;
  right: -182px;
  top: -108px;
}
section.mainbanner .holder .form {
  width: 100%;
  max-width: 650px;
  padding: 40px 20px;
  background: #cccccc;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 33px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 33px -1px rgba(0, 0, 0, 0.75);
}
section.mainbanner .holder .form p {
  display: block;
  font-family: OpenSans;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
  color: #1e3799;
  margin-bottom: 10px;
  text-align: center;
}
section.mainbanner .holder .form p span {
  font-family: OpenSansB;
}
section.mainbanner .holder .form > span {
  display: block;
  font-family: OpenSans;
  font-size: 15px;
  text-align: center;
  line-height: 25px;
  margin-bottom: 20px;
}
section.mainbanner .holder .form form {
  width: 100%;
}
section.mainbanner .holder .form form .box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.mainbanner .holder .form form .box input {
  width: 100%;
  max-width: 290px;
  padding: 13px 25px;
  background: none;
  border: 1px solid #718093;
  display: block;
  font-family: OpenSans;
  font-size: 15px;
  border-radius: 30px;
  margin-bottom: 30px;
}
section.mainbanner .holder .form form .box input::-webkit-input-placeholder {
  color: #718093;
}
section.mainbanner .holder .form form .box input::-moz-placeholder {
  color: #718093;
}
section.mainbanner .holder .form form .box input:-ms-input-placeholder {
  color: #718093;
}
section.mainbanner .holder .form form .box input::-ms-input-placeholder {
  color: #718093;
}
section.mainbanner .holder .form form .box input::placeholder {
  color: #718093;
}
section.mainbanner .holder .form form button[type=submit] {
  width: 100%;
  margin: 0 auto;
  max-width: 230px;
  padding: 13px 45px;
  background: #1e3799;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #fff;
  font-family: OpenSansB;
  font-size: 15px;
  border-radius: 30px;
}
section.mainbanner .holder .form form button[type=submit]:hover svg {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}
section.mainbanner .holder .form form button[type=submit] svg {
  width: 20px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
section.mainbanner .holder .form form button[type=submit] svg g g path {
  fill: #fff;
}
section.aboutus {
  width: 100%;
  padding: 0 15px;
  padding-top: 200px;
  background-image: url(../img/bg2.png);
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -100px;
}
section.aboutus .holder .sect_title {
  margin-bottom: 50px;
}
section.aboutus .holder .text {
  max-width: 800px;
}
section.aboutus .holder .text p {
  display: block;
  font-family: OpenSans;
  color: #2d3436;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 15px;
}
section.aboutus .holder .text p span {
  font-weight: bold;
}
section.aboutus .holder .text ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
section.aboutus .holder .text ul li img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 10px;
}
section.choose {
  width: 100%;
  padding-top: 100px;
}
section.choose .sect_title {
  margin: 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
section.choose .box {
  width: 100%;
}
section.choose .box .row {
  padding: 30px 15px;
}
section.choose .box .row .holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.choose .box .row .holder .item {
  width: 100%;
  max-width: 470px;
}
section.choose .box .row .holder .item a.btn {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 13px 45px;
  background: #1c8802;
  cursor: pointer;
  color: #fff;
  font-family: OpenSansB;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 30px;
  text-align: center;
}
section.choose .box .row .holder .item p {
  margin-top: 15px;
  display: block;
  font-family: OpenSans;
  color: #2d3436;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
  text-align: center;
  min-height: 100px;
}
section.choose .box .row .holder .item p span {
  font-weight: bold;
}
section.choose .box .row .holder .item .img {
  width: 80%;
  margin: 0 auto;
  height: 200px;
  border-radius: 100px;
}
section.ecology {
  width: 100%;
  padding: 0 15px;
  padding-top: 100px;
}
section.ecology .sect_title {
  margin: 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
section.ecology p {
  display: block;
  font-family: OpenSans;
  color: #2d3436;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 15px;
}
section.ecology p span {
  font-weight: bold;
}
section.materials {
  width: 100%;
  padding: 0 15px;
  padding-top: 100px;
}
section.materials .sect_title {
  margin-bottom: 50px;
}
section.materials .holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.materials .left {
  width: 100%;
  max-width: 600px;
  margin-right: 10px;
}
section.materials p {
  display: block;
  font-family: OpenSans;
  color: #2d3436;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 15px;
}
section.materials p span {
  font-weight: bold;
}
section.materials .right {
  width: 100%;
  max-width: 350px;
}
section.materials .right .item {
  margin-bottom: 30px;
}
section.materials .right .item svg {
  width: 40px;
  height: 40px;
}
section.materials .right .item div {
  width: 100px;
  height: 2px;
  background: #1c8802;
  margin: 10px 0;
}
section.materials .right .item h3 {
  font-family: OpenSansB;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  color: #34495e;
}
section.partners {
  width: 100%;
  padding: 70px 15px;
  background-image: url(../img/bg3.png);
  background-position: center;
  background-size: 100% 450px;
  background-repeat: no-repeat;
}
section.partners .holder .sect_title {
  margin-bottom: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section.partners .holder .sect_title h2 {
  color: #fff;
}
section.partners .holder .sect_title div {
  background: #f1c40f;
}
section.partners .holder .sect_title div:after {
  background: #f1c40f;
}
section.partners .holder .partners_slider .slick-list .slick-track {
  margin: 0 -5px;
}
section.partners .holder .partners_slider .slide {
  height: 180px;
  margin: 0 5px;
}
section.partners .holder .partners_slider_nav {
  width: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
}
section.partners .holder .partners_slider_nav svg {
  width: 30px;
  height: 30px;
}
section.partners .holder .partners_slider_nav div {
  cursor: pointer;
}
section.partners .holder .partners_slider_nav .next svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
section.clients {
  width: 100%;
  padding: 0 15px;
  padding-top: 100px;
}
section.clients .holder .sect_title {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
section.clients .holder .box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
section.clients .holder .box .item {
  width: 48%;
  height: 220px;
  border-radius: 100px;
  margin-bottom: 30px;
}
section.certificates {
  width: 100%;
  padding: 70px 15px;
}
section.certificates .holder .sect_title {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
section.certificates .holder .certificates_slider .slick-list .slick-track {
  margin: 0 -5px;
}
section.certificates .holder .certificates_slider .slide {
  height: 380px;
  margin: 0 5px;
  border-radius: 20px;
}
section.certificates .holder .certificates_slider_nav {
  width: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
}
section.certificates .holder .certificates_slider_nav svg {
  width: 30px;
  height: 30px;
}
section.certificates .holder .certificates_slider_nav svg path {
  fill: #1c8802;
}
section.certificates .holder .certificates_slider_nav div {
  cursor: pointer;
}
section.certificates .holder .certificates_slider_nav .next svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
section.giftsForm {
  margin-top: -100px;
  width: 100%;
  padding: 0 15px;
  padding-top: 100px;
  padding-bottom: 200px;
  background-image: url(../img/bg4.png);
  background-position: top right;
  background-size: 110% 800px;
  background-repeat: no-repeat;
}
section.giftsForm .holder {
  padding-top: 120px;
  max-width: 1;
}
section.giftsForm .holder .title {
  width: 100%;
  max-width: 570px;
  margin-left: 50px;
}
section.giftsForm .holder .title img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
section.giftsForm .holder .title > p {
  display: block;
  font-family: OpenSansBB;
  font-size: 42px;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  line-height: 45px;
  text-transform: uppercase;
}
section.giftsForm .holder .title > p span {
  color: #f1c40f;
}
section.giftsForm .holder .title > span {
  display: block;
  font-family: OpenSans;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  line-height: 30px;
}
section.giftsForm .holder .title > span span {
  color: #f1c40f;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}
section.giftsForm .holder .box {
  position: relative;
}
section.giftsForm .holder .box img {
  position: absolute;
  right: -78px;
  top: -380px;
}
section.giftsForm .holder .box .form {
  width: 100%;
  max-width: 750px;
  padding: 40px 20px;
  background: #cccccc;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 33px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 33px -1px rgba(0, 0, 0, 0.75);
}
section.giftsForm .holder .box .form p {
  display: block;
  font-family: OpenSansB;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
  color: #1e3799;
  margin-bottom: 10px;
  text-align: center;
}
section.giftsForm .holder .box .form p span {
  font-family: OpenSansB;
}
section.giftsForm .holder .box .form > span {
  display: block;
  font-family: OpenSans;
  font-size: 15px;
  text-align: center;
  line-height: 25px;
  margin-bottom: 20px;
}
section.giftsForm .holder .box .form form {
  width: 100%;
}
section.giftsForm .holder .box .form form .box {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.giftsForm .holder .box .form form .box input {
  width: 100%;
  max-width: 290px;
  padding: 13px 25px;
  background: none;
  border: 1px solid #718093;
  display: block;
  font-family: OpenSans;
  font-size: 15px;
  border-radius: 30px;
  margin-bottom: 30px;
}
section.giftsForm .holder .box .form form .box input::-webkit-input-placeholder {
  color: #718093;
}
section.giftsForm .holder .box .form form .box input::-moz-placeholder {
  color: #718093;
}
section.giftsForm .holder .box .form form .box input:-ms-input-placeholder {
  color: #718093;
}
section.giftsForm .holder .box .form form .box input::-ms-input-placeholder {
  color: #718093;
}
section.giftsForm .holder .box .form form .box input::placeholder {
  color: #718093;
}
section.giftsForm .holder .box .form form button[type=submit] {
  width: 100%;
  margin: 0 auto;
  max-width: 230px;
  padding: 13px 45px;
  background: #1e3799;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-align: left;
  color: #fff;
  font-family: OpenSansB;
  font-size: 15px;
  border-radius: 30px;
}
section.giftsForm .holder .box .form form button[type=submit]:hover svg {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}
section.giftsForm .holder .box .form form button[type=submit] svg {
  width: 20px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
section.giftsForm .holder .box .form form button[type=submit] svg g g path {
  fill: #fff;
}
section.warranties {
  width: 100%;
  padding: 0 15px;
  padding-top: 100px;
}
section.warranties .sect_title {
  margin: 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
section.warranties p {
  display: block;
  font-family: OpenSans;
  color: #2d3436;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 15px;
  text-align: center;
}
section.warranties p span {
  font-weight: bold;
}
section.orders {
  width: 100%;
  padding: 0 15px;
  padding-top: 100px;
}
section.orders .sect_title {
  margin: 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
section.orders .box {
  width: 100%;
}
section.orders .box .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.orders .box .row svg {
  width: 70px;
  height: 50px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: 230px;
}
section.orders .box .row svg path {
  fill: #1c8802;
}
section.orders .box .row .item {
  width: 250px;
  margin-bottom: 70px;
}
section.orders .box .row .item .img {
  width: 100%;
  height: 200px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
}
section.orders .box .row .item .img span {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #1c8802;
  border-radius: 50%;
  font-family: OpenSans;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
}
section.orders .box .row .item p {
  display: block;
  font-family: OpenSans;
  font-weight: bold;
  color: #2d3436;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
}
footer {
  width: 100%;
  padding: 30px 15px;
  padding-bottom: 70px;
  background: #1c8802;
}
footer .holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
footer .holder .mapbox {
  margin-right: 20px;
  padding-right: 20px;
}
footer .holder .mapbox .box h3 {
  display: block;
  font-family: OpenSansBB;
  font-size: 18px;
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
}
footer .holder .mapbox .box .adr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .holder .mapbox .box .adr svg {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
footer .holder .mapbox .box .adr svg path {
  fill: #ffffff;
}
footer .holder .mapbox .box .adr span {
  color: #ffffff;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 23px;
}
footer .holder .mapbox .map {
  width: 290px;
  height: 200px;
  margin-top: 20px;
}
footer .holder .mapbox .map iframe {
  width: inherit;
  height: inherit;
}
footer .holder > .box {
  padding-left: 20px;
  border-left: 1px solid #fff;
}
footer .holder > .box p {
  display: block;
  margin-top: 20px;
  color: #ffffff;
  font-family: OpenSans;
  margin-bottom: 10px;
  font-size: 14px;
}
footer .holder > .box p a {
  color: #fff;
}
footer .holder > .box h3 {
  display: block;
  font-family: OpenSansBB;
  font-size: 18px;
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
}
footer .holder > .box:first-child {
  padding-right: 50px;
  margin-right: 50px;
  border-right: 1px solid #ffffff;
}
footer .holder .tels {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .holder .tels svg {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
footer .holder .tels svg path {
  fill: #ffffff;
}
footer .holder .tels .box a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-family: OpenSansB;
  margin-bottom: 10px;
  font-size: 14px;
}
footer .holder .tels .box a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
footer .holder .tels .box a:last-child {
  margin-bottom: 0;
}
footer .holder .adr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .holder .adr svg {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
footer .holder .adr svg path {
  fill: #ffffff;
}
footer .holder .adr span {
  color: #ffffff;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 23px;
}
@media screen and (min-width: 1921px) {
  section.mainbanner {
    background-size: cover;
  }
}
@media screen and (max-width: 1920px) {
  section.giftsForm .holder {
    max-width: 1124px;
    padding-top: 100px;
  }
  section.giftsForm .holder .box img {
    right: -280px;
    top: -398px;
  }
}
@media screen and (max-width: 1845px) {
  section.mainbanner .holder .box img {
    right: -127px;
    top: -99px;
  }
  section.giftsForm .holder {
    max-width: 1124px;
    padding-top: 100px;
  }
  section.giftsForm .holder .box img {
    right: -280px;
    top: -403px;
  }
}
@media screen and (max-width: 1750px) {
  section.giftsForm .holder .box img {
    right: -202px;
    top: -396px;
  }
  section.mainbanner .holder .box img {
    right: -75px;
    top: -78px;
    width: 58%;
  }
}
@media screen and (max-width: 1600px) {
  section.mainbanner .holder .box img {
    right: -38px;
    top: -52px;
    width: 55%;
  }
}
@media screen and (max-width: 1441px) {
  section.mainbanner {
    background-size: 110% 870px;
  }
  section.mainbanner .holder .box img {
    right: -46px;
    top: -30px;
    width: 53%;
  }
  section.giftsForm .holder .box img {
    right: -92px;
    top: -393px;
  }
  section.aboutus {
    background-size: 600px;
  }
  section.aboutus .holder .text {
    max-width: 600px;
  }
}
@media screen and (max-width: 1251px) {
  section.aboutus {
    background-size: 500px;
  }
  section.aboutus .holder .text {
    max-width: 500px;
  }
}
@media screen and (max-width: 1155px) {
  section.mainbanner .holder > .box img {
    width: 50%;
  }
  section.giftsForm .holder .box img {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  section.mainbanner .holder > .box img {
    width: 60%;
    right: -37px;
    top: -34px;
  }
  section.mainbanner .holder .form {
    max-width: 400px;
  }
  section.mainbanner .holder .form form .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  section.choose .box .row .item {
    margin: 0 5px;
  }
  section.aboutus {
    background: none;
  }
  section.aboutus .holder .text {
    max-width: 800px;
  }
}
@media screen and (max-width: 900px) {
  header .info .holder .burger {
    display: block;
  }
  header .info .holder .tels {
    display: none;
  }
  header .info .holder .adr {
    display: none;
  }
  header .info .holder a.btn {
    padding: 7px 20px;
    font-size: 14px;
    border: 2px solid #ecef09;
  }
  header .navbox {
    display: none;
  }
  header .navbox nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .navbox nav a {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .sect_title h2 {
    font-size: 20px;
  }
  section.mainbanner {
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
  }
  section.mainbanner .holder .title h1 {
    font-size: 24px;
    line-height: 30px;
  }
  section.mainbanner .holder .title p {
    font-size: 18px;
  }
  section.mainbanner .holder > .box {
    margin-top: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.mainbanner .holder > .box img {
    display: none;
  }
  section.aboutus {
    padding-top: 50px;
    margin-top: 0;
  }
  section.choose {
    padding-top: 50px;
  }
  section.choose .box .row .holder {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.choose .box .row .holder .item {
    margin: 0 5px;
    min-width: 290px;
    margin-bottom: 30px;
  }
  section.ecology {
    padding-top: 50px;
  }
  section.materials {
    padding-top: 50px;
  }
  section.materials .holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.materials .holder .left {
    margin-right: 0;
    margin-bottom: 30px;
  }
  section.materials .holder .left .sect_title {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.materials .holder .left p {
    text-align: center;
  }
  section.materials .holder .right .item {
    text-align: center;
  }
  section.materials .holder .right .item div {
    margin: 20px auto;
  }
  section.clients {
    padding-top: 50px;
  }
  section.giftsForm {
    background-size: cover;
  }
  section.giftsForm .holder .title {
    margin: 0 auto;
  }
  section.giftsForm .holder .title > p {
    font-size: 32px;
  }
  section.giftsForm .holder .title > span {
    font-size: 18px;
  }
  section.giftsForm .holder .form form .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.warranties {
    padding-top: 50px;
  }
  section.orders {
    padding-top: 50px;
  }
  section.orders .box .row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.orders .box .row svg {
    display: none;
  }
  section.orders .box .row .item {
    margin: 0 5px;
    margin-bottom: 50px;
  }
  section.partners {
    background-size: cover;
  }
}
@media screen and (max-width: 550px) {
  section.clients .holder .box {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  section.clients .holder .box .item {
    width: 100%;
  }
  footer .holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .holder .box {
    margin-top: 20px;
    padding-left: 0;
    border: none;
  }
  footer .holder .box:first-child {
    margin-right: 0;
    padding-right: 0;
    border: none;
  }
}
@media screen and (max-width: 425px) {
  header .info .holder a.btn {
    display: none;
  }
}
